@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root {
    --creme: #F4F2DE;
    --fundo: #000000e8;
    --destaque: hsl(210.38deg 99% 70% / 41.1%);

    --fonte_primaria: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    font-family: var(--fonte_primaria);
    background-color: var(--fundo);
    color: var(--creme); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
